.button {
  padding: 14px 30px;

  border-radius: var(--radius-md);

  border: none;

  cursor: pointer;

  font-size: 17px;

  font-weight: 600;

  transition: all .25s ease;
}

.button:hover {
  transform: translateY(-2px);
}

.button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.primary {
  background: var(--color-primary);
  color: white;
}

.primary:hover {
  filter: brightness(110%);
}

.secondary {
  background: var(--color-secondary);
  color: #222;
}

.secondary:hover {
  filter: brightness(105%);
}

.outline {
  background: transparent;

  color: var(--color-primary);

  border: 2px solid var(--color-primary);
}

.outline:hover {
  background: var(--color-primary);
  color: white;
}

.danger {
  background: var(--color-danger);
  color: white;
}