@import "./design-tokens.css";
@import "tailwindcss";

:root {
  --background: #F5F7FA;
  --foreground: #222222;

  --primary: #0F4C81;
  --secondary: #D4AF37;

  --success: #198754;
  --danger: #DC3545;

  --border-radius: 16px;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);

  font-family:
    Tahoma,
    "Segoe UI",
    Arial,
    sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}